/* Write your code here. */
.bg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.main-hedding{
    font-size: 21px;
    font-family: Roboto;

}
.information{
    background-color:  #0b69ff;
    width: 300px;

}
.sucess{
    background-color: #2dca73;
    width: 300px;
}
.warning{
    background-color:  #ffb800;
    width: 300px;
}
.danger{
    background-color:  #ff0b37;
    width: 300px;
}
.icon{
    height: 20px;
    width:20px;
    padding: 5px;
}
.message{
    font-size: 11px;
    padding: 15px;
}